.officersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.personInfo {
  text-align: center;
  margin: 2rem 5rem;
  font-size: larger;
}

.personImage {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 1rem 0;
}

.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
