// .main {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     display: flex;
// }

.main {
  text-align: center;
}

.main > h1 {
  color: #ffba44;
}

.description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main li {
  list-style-type: none;
}
