.main {
  font-size: large;
  margin: auto;
  display: grid;
}

.main:hover {
  box-shadow: var(--card-border-expanded);
}

.listItem {
  background-color: var(--cyber-black);
  margin: 1.5rem 1rem;
  padding: 0.3rem;
  border: var(--cyber-gold) 2px solid;
  border-radius: 2rem;
  transition: box-shadow 0.2s;
  width: 20rem;
  float: left;
  height: 15rem;  
}
.section {
  margin: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cyber-gold);
  display: inline;
}
.link {
  font-size: 1rem;
  color: var(--organic-oranges);
  text-decoration: underline;
}
.link:hover {
  color: var(--flag-pink);
}
