.archive {
  padding-bottom: 3.5rem;
}

.quarter {
  padding-bottom: 0.5rem;
}

.series {
  padding: 0.5rem;
}

.event {
  display: inline-flex; /* keep the inline nature of buttons */
  align-items: flex-start; /* this is default */
  background-color: var(--cyber-black);
  margin: 1rem;
  border: var(--cyber-gold) 2px solid;
  border-radius: 2rem;
  width: 20rem;
  height: 12rem;
  text-align: left;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--cyber-gold);
  }
}

.eventContent {
  display: block;
  width: 100%;
}

.graphic {
  vertical-align: top;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 5rem;
  object-fit: cover;
}

.title {
  vertical-align: top;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--cyber-gold);
  margin: 0.7rem 1rem 0.5rem 1rem;
}

.date {
  vertical-align: top;
  font-size: 1rem;
  color: var(--organic-oranges);
  margin: 0rem 1rem 0.7rem 1rem;
}

.link {
  margin: 0rem 0rem 0rem 1.5rem;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.hyperlink {
  text-decoration: underline;
  color: var(--cyber-gold);
  overflow-wrap: break-word;
  &:hover {
    cursor: pointer;
    color: var(--flag-pink);
  }
}

.section {
  margin: 0.75rem 0rem;
  display: flex;
  flex-wrap: wrap;
}