.main {
  font-size: large;
  margin: auto;
  background-color: var(--card-blue);
  padding: 2rem;
  border: var(--card-border);
  border-radius: 25px;
  transition: box-shadow 0.2s;
}

.main:hover {
  box-shadow: var(--card-border-expanded);
}

.main li {
  margin: 1rem;
}

.tags {
  display: inline;
}
