.main {
  font-size: large;
  margin: auto;
  background-color: #23293a;
  padding: 2rem;
  border-radius: 25px;
  border-style: solid;
  transition: box-shadow 0.2s;
}

.main:hover {
  box-shadow: 0px 0px 5px 10px #ffbd3f;
}

.main li {
  margin: 1rem;
}

.tags {
  display: inline;
}
