.archive {
  padding-bottom: 3.5rem;
}

.quarter {
  padding-bottom: 0.5rem;
}

.series {
  padding: 0.5rem;
}

.event {
  display: inline-flex; /* keep the inline nature of buttons */
  align-items: flex-start; /* this is default */
  background-color: var(--cyber-black);
  margin: 1rem;
  border: var(--cyber-gold) 2px solid;
  border-radius: 2rem;
  width: 20rem;
  height: 15rem;
  text-align: left;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--cyber-gold);
  }
}

.eventContent {
  display: block;
  width: 100%;
}

.graphic {
  vertical-align: top;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.title {
  vertical-align: top;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--cyber-gold);
  margin: 0.7rem 1rem 0.5rem 1rem;
}

.date {
  vertical-align: top;
  font-size: 1rem;
  color: var(--organic-oranges);
  margin: 0rem 1rem 0.7rem 1rem;
}

.links {
  vertical-align: top;
  margin: 0rem 1.5rem 0.7rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  position: relative;
  font-size: 1.25rem;
  text-align: justify;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.nolink {
  display: inline-block;
  color: white;
  line-height: 1.5rem !important;
  font-size: 1.25rem !important;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  vertical-align: bottom;
}

.hyperlink {
  text-decoration: underline;
  color: var(--cyber-gold);
  overflow-wrap: break-word;
  &:hover {
    cursor: pointer;
    color: var(--flag-pink);
  }
}

.section {
  margin: 0.75rem 0 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    line-height: 1.5rem !important;
  }
}

.tags {
  margin: 1rem 0 1rem 0;
}
