.blogPost {
  background-color: var(--card-blue);
  padding: 2rem;
  margin: 3rem auto;
  width: 80%;
  border: var(--card-border);
  border-radius: 2rem;
  transition: box-shadow 0.2s;

  h3 {
    font-size: 2rem;
  }

  .tags {
    padding: 0.5rem 0;
  }

  .tag {
    background-color: #f44d89;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 5px;
  }
}

.blogPost:hover {
  box-shadow: var(--card-border-expanded);
}
