.blogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-evenly;
}

.blogContainer a {
  display: contents;
}

.blogPost {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 450px;
  border: var(--cyber-gold) 2px solid;
  border-radius: 2rem;
  transition: box-shadow 0.2s;
  margin: 2rem 0;
  position: relative;

  .category {
    position: absolute;
    margin: 1rem 1.5rem;
    background-color: #f44d89;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: larger;
  }

  .image {
    width: 450px;
    height: 250px;
    object-fit: cover;
  }

  .blogBottom {
    padding: 1rem 2rem;
    background-color: #0e1116;

    .header {
      width: calc(450px - 4rem);
      margin: 0.25rem 0 0.5rem 0;
    }

    .date {
      float: right;
    }

    .description {
      width: calc(450px - 4rem);
      margin: 0.5rem 0;
    }

    h3 {
      font-size: 2rem;
    }

    .tags {
      padding: 0.5rem 0;
    }

    .tag {
      background-color: #f44d89;
      margin: 0.25rem;
      padding: 0.25rem;
      border-radius: 5px;
    }
  }
}

.blogPost:hover {
  box-shadow: 0 0 10px var(--cyber-gold);
}

.categorySelectHeading {
  font-size: 1.25rem;
  margin: 0 1rem 0 0;
  color: var(--cyber-gold);
}

ul.categorySelect {
  list-style-type: none;
  display: inline;
  flex-direction: row;

  li {
    display: inline-block;
    padding: 0.5rem;
    border: var(--cyber-gold) 1px solid;
  }

  li:hover {
    background-color: var(--cyber-gold);
    color: var(--soul-dark);
    cursor: pointer;
  }

  .selected {
    background-color: var(--cyber-gold);
    color: var(--soul-dark);
  }
}

@media screen and (max-width: 600px) {
  ul.categorySelect {
    flex-direction: column;
  }
}
