.carousel {
  --img-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--img-height);
}

.images {
  display: grid;
  height: 100%;
}

/* use grid to stack images */
.images > * {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: -1 / 1;
  height: var(--img-height);
  width: 100%;
}

.images img {
  filter: opacity(0);
  transition: filter 500ms ease-in-out;
}

.active {
  filter: opacity(1) !important;
}

.prev,
.next {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  color: var(--depress-blue);
  font-weight: 500;
  font-size: 40px;
  transition: 600ms ease-out;
  user-select: none;
}
