.carousel {
  --aspect-ratio: 2.05; /* this is > 16/9 and needed cause some images are wiide */
  --img-height: 60vh;
  --img-width: min(
    calc(100vw - 2rem),
    calc(var(--aspect-ratio) * var(--img-height))
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: var(--img-height);
}

.images {
  display: grid;
  height: 100%;
  width: var(--img-width);
}

/* use grid to stack images */
.images > * {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: -1 / 1;
  height: var(--img-height);
  width: var(--img-width);
}

.images img {
  object-fit: crop;
  width: var(--img-width);
  filter: opacity(0);
  transition: filter 200ms ease-out;
}

.active {
  filter: opacity(1) !important;
}

.prev,
.next {
  --active-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 2rem;
  font-weight: 500;
  font-size: 40px;
  user-select: none;
  color: var(--depress-blue);
  cursor: pointer;
  transition: 200ms ease-out;
}

.prev:hover,
.next:hover,
.prev:active,
.next:active {
  background-color: var(--active-color);
}

/* make arrows invisible when screen smol */
@media screen and (max-width: 600px) {
  .prev,
  .next {
    z-index: 9;
    filter: opacity(0);
    transform: translateX(4rem);
  }
  .next {
    transform: translateX(-4rem);
  }
}
