.redirect {
  min-height: 90vh;
  padding: 4rem 0 4rem 0;
  margin: 4rem 20% 0 20%;
  text-align: center;
  color: #ffba44;
}

.home a {
  text-decoration: underline;
}

.home:hover a {
  color: #ffba44;
}
