.buttonGrid {
  transform-origin: top right;
  transform: rotate(-45deg);
  display: inline-grid;

  button {
    float: right;
    background-image: linear-gradient(to bottom left, #ffc259, #fff7ab);
    font-family: "Nova Mono", monospace;

    border: none;
    border-radius: 1.5rem;
    margin: 1rem;

    width: 20vw;
    height: 20vw;
    font-size: 4.75vw;
    color: black;
  }

  button span {
    display: inline-block;
    transform: rotate(45deg);
  }
}

@media only screen and (min-width: 1000px) {
  .buttonGrid {
    button {
      height: 200px;
      width: 200px;
      padding-bottom: 0;
      font-size: 50px;
    }
  }
}
