.fixed{
    display:flex;
    padding:0px;
    margin:0px;
}

.page {
    background: linear-gradient(to bottom, #15213c, #ffeac0);
    padding: 10px;
    h1 {
        color: #ffba44;
        padding: 2rem;
        font-family: "Nova Mono", monospace;
        font-size: 3rem;
        text-align: center;
    }    
}

.buttonIcon {
    button {
        background-image: linear-gradient(to bottom right, #FFC259, #FFF7AB); 
        font-family: "Nova Mono", monospace;
        font-size: 1rem;
        height: 0;
        padding-bottom: 30%;
        width: 30%;
        transform: rotate(45deg);
        border: none;
        border-radius: 1.5rem;
        text-align: center;
        margin:3rem;
    }
    h1 {
        color:black;
        height: 0;
        padding-bottom: 30%;
        width: 30%;
        margin: 0;
        transform: translateX(-30%) translateY(30%) rotate(-45deg);
        vertical-align: center;
        text-align: center justify;
    }
}



@media only screen and (min-width: 710px) {
    .buttonIcon {
        button{
            height: 200px;
            width: 200px;
            padding-bottom: 0;
        }
        h1{
            height: 200px;
            width: 200px;
            transform: translateX(-60px) translateY(60px) rotate(-45deg);
            padding-bottom: 0;
        }
    }
}

.blurbShow {
    display:inline;
}

.blurbHide{
    display:none;
}