footer {
  .footer {
    // position: relative;
    // left: 0;
    // bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    width: 100%;
    background-color: #ddddd4;
    color: #000000;
    padding: 3rem 0;
    font-family: Poppins;

    .center {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    button {
      position: absolute;
      top: 33%;
      width: auto;
      height: auto;
      font-size: 18px;
      background: #2c2f36;
      border-radius: 10px;
      color: #ddddd4;
      text-align: center;
      right: 5%;
      padding: 1%;
    }

    img {
      height: auto;
    }

    p {
      margin-left: 20px;
      margin-right: 20px;
    }

    a:hover {
      text-decoration: underline;
    }

    .footerText {
      font-size: 1.25rem;
    }

    .vertCenter {
      display: flex;
      flex-direction: column;
    }

    .top {
      display: flex;
      gap: 1rem;
    }

    .bottom {
      text-align: center;
    }
  }
}
