footer.footer {
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
  padding-bottom: 1rem;
  background-color: var(--cyber-gold);
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;

  .socials {
    margin: 1rem 0px;

    p {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .socialsList {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      gap: 10px;

      a {
        width: 40px;
        height: 40px;

        &:first-of-type {
          // the discord logo is not square
          margin-right: 10px;
        }

        div {
          transform: scale(40%);
          transform-origin: 0% 0%;
          background: var(--soul-dark);
          object-fit: contain;

          &:hover {
            filter: brightness(1820%);
          }
        }
      }
    }
  }

  .legal {
    margin: 1rem 0px;
    text-align: center;
  }

  .joinUsOrElse {
    display: block;
    margin: 1rem 0px;
    padding: 0.2rem;
    border: 0.5rem solid var(--flag-pink);
    border-radius: 0.5rem;
    color: white;
    background-color: var(--flag-pink);
    cursor: pointer;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 2px;
      background-color: white;
      transition: width 100ms linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
