@font-face {
  font-family: "Westwood Sans 0.5";
  font-style: normal;
  font-weight: 400;
  src: local("Westwood Sans Regular"),
    url("../public/fonts/WestwoodSans-Regular-0.5.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cyber-gold: #ffba44;
  --shadowed-light: #86652d;
  --soul-dark: #0e1116;

  // pre-computed color-mix(in srgb, var(--soul-dark), transparent 10%);
  // as older safaris don't support color-mix
  // was done by converting --soul-dark to rgb and then adding alpha channel of 0.9
  --soul-dark-shim: rgba(14, 17, 22, 0.9);

  --orange-linear: linear-gradient(85deg, #ffba44, #ff8c4c 60%);
  --logo-linear: linear-gradient(
    61.43deg,
    #ffffff 36.4583%,
    #ffba44 50%,
    #ffba44 69.2708%,
    #ff8c4c 100%
  );
  --organic-oranges: #ff8c4c;
  --flag-pink: #f44d8a;
  --soft-lazer: #ffba4414;
  --cyber-black: #242424;
  --cyber-grey: #242424;

  // andy's code highlighting theme
  --orange-linear-transparent: linear-gradient(
    85deg,
    rgba(255, 186, 68, 0.9),
    rgba(255, 140, 76, 0.9)
  );

  --normal-code: white;
  --type-function: #ffba44;
  --code-string: #d45113;
  --code-number: #813405;
  --keyword-pink: #f44d8a;
  --comment-grey: rgb(152, 152, 152);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

main {
  margin-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  color: var(--cyber-gold);
}

.link {
  text-decoration-line: underline;
  text-decoration-color: var(--cyber-gold);
}

.link:hover {
  color: var(--cyber-gold);
}

.page {
  background: var(--soul-dark);
  min-height: calc(100vh - 80px - 200px);
  color: white;

  .content {
    width: 80%;
    margin: 0 auto;

    ul {
      width: 80%;
      margin: 2rem auto 0 auto;
      font-size: large;
      li {
        margin: 1rem 0;
      }
    }
  }

  h1 {
    display: block;
    width: fit-content;
    margin: 0rem auto 2rem auto;
    padding-top: 1rem;

    font-family: "Poppins";
    font-size: 4rem;
    text-align: center;

    color: transparent;
    background: var(--orange-linear);
    background-clip: text;
  }

  h2 {
    padding: 2rem 0 1rem 0;

    font-family: "Poppins";
    font-size: 2rem;

    color: var(--organic-oranges);
  }

  h3 {
    color: var(--cyber-gold);
  }

  blockquote {
    border-left: 5px solid #ffbd3f;
    padding-left: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  code {
    font-family: "IBM Plex Mono", "Consolas", "Lucida Console", monospace;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
