@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 5rem;
}

.page {
  background: linear-gradient(to bottom, #15213c, #ffeac0);
  padding: 10px 10%;
  min-height: 50rem;
  color: white;

  h1 {
    color: #ffba44;
    padding: 2rem;
    font-family: "Nova Mono", monospace;
    font-size: 3rem;
    text-align: center;
  }
}
