@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap";
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 5rem;
}

.page {
  background: linear-gradient(
    180deg,
    #15213c 4.17%,
    #505262 52.6%,
    #8b8b85 100%
  );
  padding: 10px 10%;
  min-height: 50rem;
  color: white;

  h1,
  h2,
  h3 {
    color: #ffba44;
    font-family: "Nova Mono", monospace;
  }

  h1 {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    padding: 1rem 0;
    font-size: 2rem;
  }
}

:root {
  --depress-blue: #23293a;
  --cool-blue: #15213c;
  --cyber-yellow: #ffbd3f;
  --card-blue: var(--cool-blue);
  --card-border: 0.125rem solid var(--cyber-yellow);
  --card-border-expanded: 0px 0px 0px 10px var(--cyber-yellow);
}
