.welcomeHero {
  --welcome-hero-height: calc(100vh - 80px);
  --diamond-scale: 0.65;
  --diamond-length: calc(
    var(--diamond-scale) * max(min(100vw, var(--welcome-hero-height)), 800px)
  );
  --diamond-x: calc((100vw - var(--diamond-length)) / 2);
  --diamond-y: calc((var(--welcome-hero-height) - var(--diamond-length)) / 2);
  --diamond-center-y: calc(var(--diamond-y) + var(--diamond-length) * 0.454);

  height: max(var(--welcome-hero-height), 28rem);
  overflow: hidden;

  .cyberDiamondRelativeContainer {
    position: relative;

    .cyberDiamond {
      position: absolute;
      width: var(--diamond-length);
      height: var(--diamond-length);
      transform: translate(var(--diamond-x), max(var(--diamond-y), -3rem))
        rotate(45deg);
      border: 12px solid var(--cyber-gold);
      border-radius: 40px;
      background: radial-gradient(#ffba4400, #ffba4414);
    }
  }

  .cyberDiamondInner {
    position: relative;
    text-align: center;

    .welcomeTo {
      position: absolute;
      width: 100vw;
      padding-top: 2rem;
      transform: translateY(max(calc(var(--diamond-center-y) - 10rem), 2rem));
      font-family: "Poppins";
      font-size: min(calc(0.15 * min(var(--diamond-length), 90vw)), 24pt);
      color: white;
    }

    .acmCyber1 {
      position: absolute;
      display: block;
      width: 100vw;
      font-size: calc(0.1 * min(var(--diamond-length), 90vw));
      transform: translate(
        -0.2em,
        max(calc(var(--diamond-center-y) - 4rem), 8rem)
      );

      & > span::after {
        content: "!";
      }
    }

    .elevatorPitchWrap {
      position: absolute;
      width: 100vw;

      .elevatorPitch {
        margin: auto;
        max-width: calc(0.6 * var(--diamond-length));
        transform: translateY(max(calc(var(--diamond-center-y) + 5rem), 17rem));
        font-size: min(calc(0.12 * min(var(--diamond-length), 90vw)), 15pt);
        color: white;
      }
    }
  }
}
