.main {
    text-align: left;
}

.box {
    padding: 5px;
    font-size: 2pc;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(244, 0, 0);
    box-shadow: 0 1px 6px rgb(253, 253, 253), 0 1px 4px rgba(236, 230, 230, 0.653);
}