.main {
    text-align: left;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 2pc;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(244, 0, 0);
    box-shadow: 0 1px 6px rgb(253, 253, 253), 0 1px 4px rgba(236, 230, 230, 0.653);
}

// .box > ul {
//     background-color: white;
// }

.taglist {
    display: flex;
    align-items: center;
}

.list > li {
    display: none;
    // list-style-type: none;
    background-color: rgb(163, 80, 80);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

}

