.officersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.personInfo {
  text-align: center;
  margin: 0.5rem 2rem;
  font-size: larger;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.personImage {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 0 0 1rem 0;
}
