.navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  width: 100vw;
  max-height: 100vh;
  padding: 0 15px 0 16px;
  z-index: 1000;
  overflow: hidden scroll;

  color: white;
  background-color: var(--soul-dark);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  font-family: "NTR", sans-serif;
  font-size: 1.5rem;

  .logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 16px;

    img {
      height: 48px;
      width: auto;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .right a {
    display: inline-block;
    line-height: 40px;
    padding: 20px 24px;
    text-transform: uppercase;

    li {
      list-style: none;
    }
  }

  /* yes this hamburger code is stolen directly from myself @ lactf ~ andrew */

  .hamburgerToggle,
  .hamburgerContainer {
    display: none;
  }

  .hamburgerContainer {
    margin-right: 24px;
  }

  .hamburgerButton {
    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 4px;
      width: 30px;
      background-color: white;
      border-radius: 2px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::before {
      content: "";
      margin-top: -8px;
    }

    &::after {
      content: "";
      margin-top: 8px;
    }
  }

  .hamburgerToggle:checked {
    & ~ .hamburgerContainer .hamburgerButton::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    & ~ .hamburgerContainer .hamburgerButton {
      background: transparent;
    }

    & ~ .hamburgerContainer .hamburgerButton::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
  }

  @media (max-width: 1016px) {
    .hamburgerContainer {
      display: flex;
      width: 30px;
      height: 48px;
      padding: 16px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    .hamburgerToggle {
      & ~ ul > a {
        display: contents;
        height: 0;
        margin: -10px;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1),
          margin 400ms cubic-bezier(0.23, 1, 0.32, 1);

        li {
          display: none;
        }
      }

      &:checked {
        & ~ ul {
          width: 100vw;

          & > a {
            display: block;
            height: 60px;
            margin: 0;
            line-height: unset;
            text-align: center;
            padding: 4px 0 5px 0;

            li {
              display: unset;
            }
          }
        }
      }
    }
  }

  @media (max-width: 350px) {
    .logo {
      width: 100vw;
    }

    .hamburgerToggle:not(:checked) ~ .hamburgerContainer {
      margin-bottom: 16px;
    }

    .hamburgerContainer {
      width: 100vw;
      margin-right: 0;
    }
  }
}

.hoverable:hover {
  background-color: #2c2f36;
  filter: brightness(150%);
}

.join li {
  color: var(--cyber-gold);
  border: 2px solid var(--cyber-gold);
  border-radius: 1rem;
  padding: 0.5rem 0.7rem 0.2rem 0.7rem;
  margin: -0.8rem 0;
}

.join li:hover {
  background-color: var(--cyber-gold);
  color: var(--soul-dark);
}

.tropicalImageStrikesAgain :not(img) {
  transition: filter ease-in-out 0.25s;
}

.tropicalImageStrikesAgain:hover :not(img) {
  filter: brightness(200%);
}
