.navbar {
  $width-at-which-navbar-collapses: 1010px;
  $subnavs: about, events, blog, links;
  $amazing-curve: 400ms cubic-bezier(0.23, 1, 0.32, 1);
  --hovered: #424651;

  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  width: 100vw;
  max-height: 100vh;
  padding: 0 15px 0 16px;
  z-index: 1000;

  color: white;
  background-color: var(--soul-dark);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  font-family: "NTR", sans-serif;
  font-size: 1.5rem;

  .logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 16px;

    img {
      height: 48px;
      width: auto;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .right {
    > input {
      display: none;
    }

    > label,
    > label a,
    > .nonExpandingCategory,
    > li:last-of-type a {
      display: inline-block;
      line-height: 40px;
      padding: 20px 24px;
      text-transform: uppercase;

      li {
        list-style: none;
      }
    }

    > label,
    > .nonExpandingCategory {
      position: relative;

      &:hover {
        background-color: var(--hovered);
        cursor: pointer;
      }

      ul {
        display: none;
        width: max-content;
        background-color: var(--soul-dark);

        > a:hover {
          background-color: var(--hovered);
          cursor: pointer;
        }
      }
    }

    > li {
      display: inline-block;
      line-height: 40px;
      padding: 0 8px;
      text-transform: uppercase;
      list-style: none;

      > button.join > a {
        padding: 8px 18px 0 18px;
      }
    }
  }

  /* yes this hamburger code is stolen directly from myself @ lactf ~ andrew */

  .hamburgerToggle,
  .hamburgerContainer {
    display: none;
  }

  .hamburgerContainer {
    margin-right: 24px;
  }

  .hamburgerButton {
    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 4px;
      width: 30px;
      background-color: white;
      border-radius: 2px;
      transition: transform $amazing-curve;
    }

    &::before {
      content: "";
      margin-top: -8px;
    }

    &::after {
      content: "";
      margin-top: 8px;
    }
  }

  .hamburgerToggle:checked {
    & ~ .hamburgerContainer .hamburgerButton::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    & ~ .hamburgerContainer .hamburgerButton {
      background: transparent;
    }

    & ~ .hamburgerContainer .hamburgerButton::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
  }

  button.join {
    color: var(--cyber-gold);
    background-color: transparent;
    border: 2px solid var(--cyber-gold);
    border-radius: 0.8rem;
    padding: 0.1rem 0;
    font-family: "NTR", sans-serif;
    font-size: 1.5rem;
  }

  button.join {
    &:has(> a:hover) {
      background-color: var(--cyber-gold);
      color: white;
    }

    @supports not selector(:has(a, b)) {
      &:hover {
        background-color: var(--cyber-gold);
        color: white;
      }
    }
  }

  @media (min-width: $width-at-which-navbar-collapses) {
    button.join {
      height: 40px;
      transform: translateY(10px);

      > a {
        transform: translateY(-10px);
        line-height: 40px;
      }
    }

    @each $subnav in $subnavs {
      label[for="subnav-#{$subnav}-toggle"]:hover {
        > li > ul {
          position: absolute;
          display: flex;
          flex-direction: column;
          margin: 20px 0 0 -24px;
          background-color: var(--cyber-grey);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);

          > a {
            min-height: 60px;
            padding-top: 4px;
            padding-bottom: 5px;
            line-height: calc(60px - 4px - 5px);

            > li {
              height: 100%;
            }
          }
        }
      }
    }
  }

  @media (max-width: $width-at-which-navbar-collapses) {
    overflow: hidden scroll;

    .hamburgerContainer {
      display: flex;
      width: 30px;
      height: 48px;
      padding: 16px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    .hamburgerToggle {
      ~ ul {
        padding-left: 1px;

        > label,
        > .nonExpandingCategory {
          display: contents;
          height: 0;
          min-height: 0;
          margin: -10px;
          padding: 0;
          border: 0;
          transition: height $amazing-curve, min-height $amazing-curve,
            margin $amazing-curve;

          li {
            display: block;
            position: absolute;
            overflow: hidden;
            user-select: none;
            pointer-events: none;
            width: 0;
            height: 0;
            margin: -10px;
            transition: height $amazing-curve, margin $amazing-curve;
          }
        }

        > li {
          display: none;
          height: 0;
          margin: -10px;
          padding: 0;
          border: 0;
          transition: height $amazing-curve, margin $amazing-curve;
        }
      }

      &:checked {
        ~ ul {
          width: 100vw;
          padding-bottom: 16px;

          > label,
          > .nonExpandingCategory {
            display: block;
            min-height: 60px;
            height: fit-content;
            margin: 0;
            line-height: unset;
            text-align: center;
            padding: 4px 0 5px 0;

            li {
              position: unset;
              width: unset;
              height: fit-content;
              margin: 0;
              overflow: unset;
              user-select: unset;
              pointer-events: unset;
            }

            > li > ul {
              display: block;
              position: absolute;
              width: 100%;
              height: 0;
              background-color: transparent;
              pointer-events: none;

              > a {
                height: 0;
                padding: 0;
                transition: height $amazing-curve;

                > li {
                  display: none;
                }
              }
            }
          }

          > li {
            display: block;
            height: 60px;
            margin: 0;
            line-height: unset;
            text-align: center;
            padding: 4px 0 5px 0;

            > button.join {
              width: 100%;
              height: 100%;
              border: none;

              &:hover {
                background-color: transparent;
                color: var(--cyber-gold);
              }

              > a {
                display: inline-block;
                width: 100%;
                cursor: pointer;
              }
            }

            &:hover {
              background-color: var(--hovered);
            }
          }
        }
      }
    }

    @each $subnav in $subnavs {
      .subnav-#{$subnav}-toggle:checked
        ~ label[for="subnav-#{$subnav}-toggle"] {
        padding-bottom: 0;
        background-color: var(--hovered);

        > li > ul {
          display: flex;
          flex-direction: column;
          position: unset;
          height: unset;
          margin-top: 5px;
          background-color: var(--cyber-grey);
          pointer-events: all;

          > a {
            height: 60px;
            padding: 4px 0 5px 0;
            line-height: unset;

            > li {
              display: block;
            }
          }
        }
      }
    }
  }

  @media (max-width: 350px) {
    .logo {
      width: 100vw;
    }

    .hamburgerToggle:not(:checked) ~ .hamburgerContainer {
      margin-bottom: 16px;
    }

    .hamburgerContainer {
      width: 100vw;
      margin-right: 0;
    }
  }
}

.tropicalImageStrikesAgain :not(img) {
  transition: filter ease-in-out 0.25s;
}

.tropicalImageStrikesAgain:hover :not(img) {
  filter: brightness(200%);
}
