.navbar {
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #2C2F36;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition: all 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    padding: 15px;
    flex-shrink: 0;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    height: 40px;
    width: auto;
    flex-shrink: 100;
    padding-left: 10px;
}

.spacer {
    flex-grow: 1;
}

.homebutton {
    all: unset;
    cursor: pointer;
}